.tablesorter .tablesorter-header {
  cursor: pointer;
}
.tablesorter .tablesorter-header {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAOCAYAAAFP4ZyvAAAAAXNSR0IArs4c6QAAAeFJREFUOMvVUr9r20AY/WRyssBYuEYynB2BN9N2qaxDU8C4LQkYlYLQprlj/5qOnTt0CZRCpzRgDNKQiMpDawwaMkkUg2tkDPadfnRJS1LkEBd36Nvufe+77933DuAaGGMOAKD0i+B5/gz+rP5W3KrehKZpuaZpOWyD4zgnjuOcbBW0Wq33hQVFUUaz2WygKMrolhkAgCzLJrIsf8qybLLV2M0zVyTCGHOCIHyo1+sv5vP5x/V6/TKKou2v2Rt83z8ihNB2u/2dEEJ93z/a6QKM8SHG+PAuzUER2Ww2H0uS9AUAgOM4NQzDr/dulmV53Gg0xtfN4zAMD/a+m8KoOp3OKo7jRwAAoih+m06nlSJdqYhUVdWXJOlKkqQrVVX9nexQSgXTNC9M07yglAo72b4jPo7juIcIoTfVavXpcrk8Z4y9zvN8susP5HYY2iyXy29FUXyOEOIRQj8YYw8YYzSO47PNZvMqiqJw74lalnWq6/raMIzLIAj6AABBEPQNw7jUdX1tWdYp/A+496p7vZ63Wq2eUEpLi8XiM2PMRgi9q9Vqz3iezyqVij8cDrW9O0zTlHdd99i27REhhHW73ZwQwmzbHrmue5ymKf9PV5QkCe95Xn8wGJx7ntdPkuSvBv4E4q67FKa3rK8AAAAASUVORK5CYII=);
  background-repeat:no-repeat;
  background-position:center right;
  padding-right: 30px;
}

.tablesorter .tablesorter-headerAsc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAOCAYAAAFP4ZyvAAAAAXNSR0IArs4c6QAAAQJJREFUOMvt0zFLxDAUB/AXuNguLVjaQtrLBxAnCWQ/cZKIS76Co5/mRj+By4G4isutB9JBXDInQ6FCu6RmiMsNN1yLpw439De+l0dI+D+ALUIIgkHj3V2MMc8Y8/BrZVk+7m1QStd1XV9TStfwZ2jonWEYPiVJctM0zbO19tYY4+H4EULmhJD52JnZvmJRFOdpmr4BACCELrTW7z8ezrKsyvO82g5XWusZTIYTNrZhCKEzjPEyiqLLrutenXP33vuPQxOIDri0CILgIY7jK4zxCcb40zl36pz7atv2pe/7O2OM/vevkVKuOOdWCLFRSi0AAJRSCyHEhnNupZSrKUCTXd9zzFVZHf1yNAAAAABJRU5ErkJggg==);
  background-color: #ddd;
}

.tablesorter .tablesorter-headerDesc {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAOCAYAAAFP4ZyvAAAAAXNSR0IArs4c6QAAAPZJREFUOMvtkjFrwzAQhS8Bi4DBeNDmwd4MnSr7xoAJhQQ8atU/696fkYIJSEMQaCp4y5rNGLzIUtO1ULelIYEO/paDdwf3eHcA35Gm6R6u7P6ElHInpdzBbUmS5Plz/UJZlhf4vxhj1ohosyw7I6I1xqxhBgAAFlNinudD3/cPAABRFL21bRtOzS2nRMaYoZSeKKUnxpj5kx1r7YpzfuScH621q/lA82v+SlVVehiGR2vtsuu6/TiOIgiClziOnwgh72EYmqZpyps79N4TpdRWCHFAxLEoigsijkKIg1Jq670nd43IOUe01pu6rl+11hvn3FULPwCSzl+NNXmK2wAAAABJRU5ErkJggg==);
  background-color: #ddd;
}


